<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- GZIP Compression -->
        <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
            <dynamicTypes>
                <add mimeType="text/html" enabled="true" />
                <add mimeType="text/plain" enabled="true" />
                <add mimeType="text/xml" enabled="true" />
                <add mimeType="text/css" enabled="true" />
                <add mimeType="text/javascript" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/css" enabled="true" />
                <add mimeType="text/javascript" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="image/svg+xml" enabled="true" />
            </staticTypes>
        </httpCompression>

        <!-- Browser Caching -->
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAgeSeconds="31536000">
                <except mimeType="text/html" cacheControlMaxAgeSeconds="604800" />
            </clientCache>
        </staticContent>

        <!-- Security Headers -->
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="DENY" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
                <add name="Permissions-Policy" value="geolocation=(), microphone=(), camera=()" />
            </customHeaders>
        </httpProtocol>

        <!-- URL Rewrite Rules -->
        <rewrite>
            <rules>
                <!-- Force HTTPS -->
                <rule name="Force HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>

                <!-- Remove trailing slashes -->
                <rule name="Remove trailing slash" stopProcessing="true">
                    <match url="(.+)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="{R:1}" />
                </rule>
            </rules>
        </rewrite>

        <!-- MIME Types -->
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".woff" mimeType="font/woff" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        </staticContent>

        <!-- File Security -->
        <requestFiltering>
            <hiddenSegments>
                <add segment=".env" />
                <add segment=".git" />
                <add segment=".htaccess" />
                <add segment="config.php" />
            </hiddenSegments>
        </requestFiltering>

        <!-- Directory Browsing Disabled -->
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
